<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <welcome-file-list>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/rs</param-value>
  </context-param>
  <servlet>
    <servlet-name>RESTEasyService</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>pt.sasha.rest.ApplicationConfig</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RESTEasyService</servlet-name>
    <url-pattern>/rs/*</url-pattern>
  </servlet-mapping>
</web-app>